<!DOCTYPE html>
<html lang="es">
<body>
    
</body>
</html>
<html lang="es">
<body>
    <div class=" bg-fondo1 h-screen">
     
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 500 500" stroke-width="4" stroke="currentColor" class="w-6 h-6 bg-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"/>
        </svg>
        
        <div class="background-text"><h2>Inscribir equipos</h2>

        <section class="flex-container">

            <div class="caja1">  
                <img src="./imgEscudosEquipos/millonarios.png" class="escudo">
            </div>
            <div  class="caja2">
                <h2>Millonarios</h2> 
            </div>
      
            <div class="caja3">
              <button class="boton">Inscribir</button>
            </div>
        </section>
        <section class="flex-container">


            <div class="caja1">
              <img src="./imgEscudosEquipos/junior.png" class="escudo">
        
            </div>
            <div  class="caja2" >
              <h2>Junior
                
              </h2>
            </div>
               
            
               
            <div class="caja3">
              <button class="boton">Inscribir</button>
        
            </div>
          </section>
          <section class="flex-container">

                <div class="caja1">
                    <img src="./imgEscudosEquipos/nacional.png" class="escudo">
                </div>
                <div  class="caja2">
                    <h2>Nacional</h2> 
                </div>
                <div class="caja3">
                    <button class="boton">Inscribir</button>
                </div>
        </section>
        <section class="flex-container">
            <div class="caja1">
                <img src="./imgEscudosEquipos/america.png" class="escudo">
            </div>
            <div  class="caja2">
                <h2>América</h2>
            </div>
            <div class="caja3">
                <button class="boton">Inscribir</button>
            </div>
          </section>
          <section class="flex-container">

            <div class="caja1">
              <img src="./imgEscudosEquipos/cali.png" class="escudo">
            </div>
            <div  class="caja2">
           <h2>Deportivo Cali</h2>
            </div>
            <div class="caja3">
              <button class="boton">Inscribir</button>
            </div>
          </section>
        </div>
    </div>
</body>
</html>
