<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-fondo1 bg-cover bg-no-repeat bg-fixed h-lvh flex justify-center m-0 lg:h-full">
    <div class="">
        <button class="absolute w-14 border-[none] top-4 left-2 md:w-24 md:top-6 md:left-10 lg:w-20">
        <img src="../assets/escudosEquipos/flecha.png" alt="Botón Flecha apuntando a la izquierda"> 
        </button>
    </div>

    <div class="flex flex-col bg-none items-center max-h-[90%] w-full mt-16 md:mt-28 lg:mt-16">
        <div class="w-full h-3 mt-1.5 text-[2rem] font-bold italic text-white text-center md:text-[4rem] md:h-16 md:my-[2rem] lg:text-[3.5rem]">INSCRIBIR EQUIPOS</div>
        <div class="bg-none px-4 w-full h-full mt-[3rem] md:max-w-[90%] lg:max-w-[60%] lg:my-[0.5rem]">
            <div class="flex flex-col"> 
                <div class="flex flex-row items-center w-full h-16 p-2 bg-white mb-3 md:h-20 md:mb-4 lg:h-15">  
                    <img src="../assets/escudosEquipos/millonarios.png" alt="Logo deportes millonarios" class="w-8 h-10 mx-2 md:w-12 md:h-14 md:mx-6 lg:w-10 lg:h-12">
                    <h6 class="text-xl font-bold md:text-3xl">MILLONARIOS</h6>
                    <div class="border-solid border-blue-800 bg-blue-800 px-2 absolute right-6 text-white text-lg md:right-28 md:text-2xl lg:right-80 lg:text-[1.6rem]">Inscribir</div>
                </div>
                <div class="flex flex-row items-center w-full h-16 p-2 bg-white mb-3 md:h-20 md:mb-4 lg:h-14">  
                    <img src="../assets/escudosEquipos/nacional.png" alt="Logo nacional" class="w-8 h-10 mx-2 md:w-12 md:h-14 md:mx-6 lg:w-10 lg:h-12">
                    <h6 class="text-xl font-bold md:text-3xl">NACIONAL</h6>
                    <div class="border-solid border-blue-800 bg-blue-800 px-2 absolute right-6 text-white text-lg md:right-28 md:text-2xl lg:right-80  lg:text-[1.6rem]">Inscribir</div>
                </div>
                <div class="flex flex-row items-center w-full h-16 p-2 bg-white mb-3 md:h-20 md:mb-4 lg:h-14">  
                    <img src="../assets/escudosEquipos/santafe.png" alt="Logo santafe" class="w-8 h-10 mx-2 md:w-12 md:h-14 md:mx-6 lg:w-10 lg:h-12">
                    <h6 class="text-xl font-bold md:text-3xl">SANTAFE</h6>
                    <div class="border-solid border-blue-800 bg-blue-800 px-2 absolute right-6 text-white text-lg md:right-28 md:text-2xl lg:right-80  lg:text-[1.6rem]">Inscribir</div>
                </div>
                <div class="flex flex-row items-center w-full h-16 p-2 bg-white mb-3 md:h-20 md:mb-4 lg:h-14">  
                    <img src="../assets/escudosEquipos/pereira.png" alt="Logo deportes PEREIRA" class="w-8 h-10 mx-2 md:w-12 md:h-14 md:mx-6 lg:w-10 lg:h-12">
                    <h6 class="text-xl font-bold md:text-3xl">PEREIRA</h6>
                    <div class="border-solid border-blue-800 bg-blue-800 px-2 absolute right-6 text-white text-lg md:right-28 md:text-2xl lg:right-80  lg:text-[1.6rem]">Inscribir</div>
                </div>
                <div class="flex flex-row items-center w-full h-16 p-2 bg-white mb-3 md:h-20 md:mb-4 lg:h-14">  
                    <img src="../assets/escudosEquipos/junior.png" alt="Logo nacional" class="w-8 h-10 mx-2 md:w-12 md:h-14 md:mx-6 lg:w-10 lg:h-12">
                    <h6 class="text-xl font-bold md:text-3xl">JUNIOR</h6>
                    <div class="border-solid border-blue-800 bg-blue-800 px-2 absolute right-6 text-white text-lg md:right-28 md:text-2xl lg:right-80  lg:text-[1.6rem]">Inscribir</div>
                </div>
                <div class="flex flex-row items-center w-full h-16 p-2 bg-white mb-3 md:h-20 md:mb-4 lg:h-14">  
                    <img src="../assets/escudosEquipos/tolima.png" alt="Logo santafe" class="w-8 h-10 mx-2 md:w-12 md:h-14 md:mx-6 lg:w-10 lg:h-12">
                    <h6 class="text-xl font-bold md:text-3xl">TOLIMA</h6>
                    <div class="border-solid border-blue-800 bg-blue-800 px-2 absolute right-6 text-white text-lg md:right-28 md:text-2xl lg:right-80  lg:text-[1.6rem]">Inscribir</div>
                </div>
                <div class="flex flex-row items-center w-full h-16 p-2 bg-white mb-3 md:h-20 md:mb-4 lg:h-14">  
                    <img src="../assets/escudosEquipos/america.png" alt="Logo deportes PEREIRA" class="w-8 h-10 mx-2 md:w-12 md:h-14 md:mx-6 lg:w-10 lg:h-12">
                    <h6 class="text-xl font-bold md:text-3xl">AMERICA</h6>
                    <div class="border-solid border-blue-800 bg-blue-800 px-2 absolute right-6 text-white text-lg md:right-28 md:text-2xl lg:right-80  lg:text-[1.6rem]">Inscribir</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- ALWAYS NEED TO RUN THE FOLLOWING COMMAND: 
    npm run dev
    dev is the name assigned in the file 'package.json'
 -->