<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output-inscribir.css">
</head>
<body>
    <div class="">
        <button class="button">
        <img src="../assets/escudosEquipos/flecha.png" alt="Botón Flecha apuntando a la izquierda"> 
        </button>
    </div>

    <div class="container">
        <div class="title">INSCRIBIR EQUIPOS</div>
        <div class="card">
            <div class="bigbox"> 
                <div class="equipo">  
                    <img src="../assets/escudosEquipos/millonarios.png" alt="Logo deportes millonarios">
                    <h6>MILLONARIOS</h6>
                    <div class="inscribir">Inscribir</div>
                </div>
                <div class="equipo">  
                    <img src="../assets/escudosEquipos/nacional.png" alt="Logo nacional">
                    <h6>NACIONAL</h6>
                    <div class="inscribir">Inscribir</div>
                </div>
                <div class="equipo">  
                    <img src="../assets/escudosEquipos/santafe.png" alt="Logo santafe">
                    <h6>SANTAFE</h6>
                    <div class="inscribir">Inscribir</div>
                </div>
                <div class="equipo">  
                    <img src="../assets/escudosEquipos/pereira.png" alt="Logo deportes PEREIRA">
                    <h6>PEREIRA</h6>
                    <div class="inscribir">Inscribir</div>
                </div>
                <div class="equipo">  
                    <img src="../assets/escudosEquipos/junior.png" alt="Logo nacional">
                    <h6>JUNIOR</h6>
                    <div class="inscribir">Inscribir</div>
                </div>
                <div class="equipo">  
                    <img src="../assets/escudosEquipos/tolima.png" alt="Logo santafe">
                    <h6>TOLIMA</h6>
                    <div class="inscribir">Inscribir</div>
                </div>
                <div class="equipo">  
                    <img src="../assets/escudosEquipos/america.png" alt="Logo deportes PEREIRA">
                    <h6>AMERICA</h6>
                    <div class="inscribir">Inscribir</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- ALWAYS NEED TO RUN THE FOLLOWING COMMAND: 
    npm run dev
    dev is the name assigned in the file 'package.json'
 -->