<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Fichajes</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Agrega tus estilos personalizados aquí si es necesario -->
    
</head>
<body>
    <div class="container">
        <h2 class="text-center">Tabla de Fichajes</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nombre del jugador</th>
                    <th scope="col">Torneo</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Estatura</th>
                    <th scope="col">Posicion</th>
                    <th scope="col">Pie dominante</th>
                </tr>
            </thead>
            <tbody>
                <!-- Agrega aquí las filas de tu tabla de fichajes -->
                <tr>
                    <td>Lionel Messi</td>
                    <td>EE.UU</td>
                    <td>Paris Saint-Germain</td>
                    <td>36</td>
                    <td>168</td>
                    <td>Delantero</td>
                    <td>Izquierdo</td>
                </tr>
                <tr>
                    <td>Cristiano Ronaldo</td>
                    <td>Arabia</td>
                    <td>Al-Nassar</td>
                    <td>38</td>
                    <td>180</td>
                    <td>Delantero</td>
                    <td>Derecho</td>
                </tr>
                <!-- Agrega más filas según sea necesario -->
            </tbody>
        </table>
        <div class="text-center">
            <a href="/fichajes" class="btn btn-primary">Regresar</a>
        </div>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>