<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output-perfil-jugador.css">
</head>
<body>
    <div class="container">
        <button class="flecha">
        <img src="../assets/escudosEquipos/flecha.png" alt="Botón Flecha apuntando a la izquierda"> 
        </button>
        <div class="foto">
            <img src="../assets/recursosimg/linda.png" alt="ESCUDO">
        </div>
        <div class="card">
            <div class="title">
                <div class="nombre"> LINDA CAICEDO </div>
                <div class="pila">
                    <div class="escudo">
                        <img src="../assets/escudosEquipos/millonarios.png" alt="ESCUDO">
                    </div>
                    <div class="numero"> 10 </div>
                </div>
            </div>
            <div class="informacion">
                <div class="box1">
                    <div class="edad">EDAD: 19</div>
                    <div class="altura">ALTURA: 170 CM</div>
                    <div class="peso">PESO: 68 KG</div>
                </div>
                <div class="box2">
                    <div class="posicion">POSICION: DELANTERA</div>
                </div>
                <div class="box3">
                    <div class="juegos">JUEGOS: 25</div>
                    <div class="victorias">VICTORIAS: 18</div>
                </div>
                <div class="box4">
                    <div class="goles">GOLES: 14</div>
                    <div class="atajadas">ATAJADAS: 0</div>
                </div>
                <div class="box5">
                    <div class="asistencias">ASISTENCIAS: 29</div>
                </div>
            </div>
            <button class="contactar"> CONTACTAR </button>
        </div>
    </div>
    
</body>
</html>
<!-- ALWAYS NEED TO RUN THE FOLLOWING COMMAND: 
    npm run perfil
    dev is the name assigned in the file 'package.json'
 -->