<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Jugador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+ctzK4fF5ql2oaxF5+h9Knxr5g3/XF2lR8n8xogC5l6U8xc" crossorigin="anonymous">
</head>
<body>

    <div class="container mt-5">
        <div class="flex-row">
            <div class="col-md-12">
              
                <div class="text-center">
                <!-- Parte superior: Foto del jugador -->
                
                <a href="/inicio"> <img  class="img-posicion"src="assets/atrass.png" alt="ir atras"> </a>
                <img  class="img-fluid"src="assets/empape.jpg" alt="Foto del Jugador"  >
                <a href="#"> <img  class="img-confi" src="assets/confi.png" alt="configuracion"> </a>
                
            </div>
            </div>
            <div class="col-md-8, mi-div">
            <div class="row g-3 mt-2 mb-2">
              
              


                <div class="col-12">
                  <label for="" class="form-label ">NOMBRE JUGADOR</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Kyliam Empape" >
                </div>
              </div>
                <div class="row g-3 mt-2 mb-2">

                <div class="col-3">
                  <label for="" class="form-label ">EDAD:</label>
                  <input type="number" name="edad" id="edad" class="form-control"  placeholder="25">
              </div>
              <div class="col-3">
                <label for="" class="form-label ">ESTATURA:</label>
                <input type="number" name="estatura" id="estatura" class="form-control" placeholder="180" >
                
            </div>
            <div class="col-3">
              <label for="" class="form-label ">POSICION:</label>
              <input type="text" name="posicion" id="posicion" class="form-control" placeholder="Delantero" >
          </div>   
                

              <div class="col-3">
                <label for="" class="form-label">JUEGOS:</label>
                <input type="number" name="juegos" id="juegos" class="form-control" placeholder="25" >
            </div>

              <div class="col-3">
                <label for="" class="form-label">GOLES:</label>
                <input type="number" name="Goles" id="Goles" class="form-control" placeholder="35" >
            </div>

            <div class="col-3">
              <label for="" class="form-label">VICTORIAS:</label>
              <input type="number" name="victorias" id="victorias" class="form-control" placeholder="5" >
          </div>
            
          <div class="col-3">
            <label for="" class="form-label">ATAJADAS: </label>
            <input type="number" name="atajadas" id="atajadas" class="form-control" placeholder="0" >
          </div>

          <div class="col-3">
          <label for="" class="form-label">ASISTENCIAS: </label>
          <input type="number" name="asisitencias" id="asisitencias" class="form-control" placeholder="15" >
             </div>
              </div>
           
               
            </div>
        </div>
    </div>

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-l8A0Pk7p1MI+8XCpfsWB5nL0a8Gcgb41uP9D11me5XkdE+FRqHQ5ZADf+pd5G5R9k" crossorigin="anonymous"></script>
    
  </body>
</html>



