<section class=""> 
    <div class="flex min-overflow-hidden justify-center bg-fondo1  pt-8">
      <div class="flex flex-col">
          <div class="w-full max-w-xl mx-auto lg:w-96 pt-4 pb-10">
              <img src="../assets/recursosimg/LogoOriginal.png" alt="Logo" class="w-auto h-auto">
            </div>
          <div class="flex flex-col justify-center flex-1 px-4 py-10 sm:px-6 lg:flex-none lg:px-20 xl:px-24 bg-white rounded-t-3xl">
  
              <div class="w-full max-w-xl mx-auto lg:w-96">
                  <h2 class="mt-6 text-3xl font-extrabold text-neutral-600 text-center">Iniciar sesion</h2>
  
                  <div class="mt-8">
                      <div class="mt-6">
                          <form action="#" method="POST" class="space-y-6">
                              <div>
                                  <div class="mt-1">
                                      <input id="email" name="email" type="email" autocomplete="email" required="" placeholder="Usuario" class="block w-full px-5 py-3 text-base placeholder-gray-400 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-200 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300">
                                  </div>
                              </div>
  
                              <div class="space-y-1">
                                  <div class="mt-1">
                                      <label for="password" class="sr-only">Password</label>
                                
                                      <div class="relative">
                                        <input
                                        id="password" name="password" type="{{isMostrar ? 'text' : 'password'}}" [(ngModel)]="password" autocomplete="current-password" required="" placeholder="***********"  class="block w-full px-5 py-3 text-base placeholder-gray-400 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-200 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
                                        />
                                
                                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4 " (click)="ojito()">
                                          <svg
                                            xmlns="../assets/recursosimg/ojo.png"
                                            class="h-6 w-6 text-gray-400 hover:text-sky-600 cursor-pointer"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                          >
                                            <path
                                              stroke-linecap="round"
                                              stroke-linejoin="round"
                                              stroke-width="2"
                                              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                                            />
                                            <path
                                              stroke-linecap="round"
                                              stroke-linejoin="round"
                                              stroke-width="2"
                                              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                                            />
                                          </svg>
                                        </span>
                                      </div>
                                    </div>
                              </div>
  
                              <div class="flex items-center justify-between">
                                  <div class="flex items-center">
                                      <input id="remember-me" name="remember-me" type="checkbox" placeholder="Your password" class="w-4 h-4 text-blue-600 border-gray-200 rounded focus:ring-blue-500">
                                      <label for="remember-me" class="block ml-2 text-sm text-neutral-600"> Recuerdame </label>
                                  </div>
  
                                  <div class="text-sm">
                                      <a href="#" class=" text-gray-600 hover:text-blue-500"> Olvidaste tu contraseña</a>
                                  </div>
                              </div>
  
                              <div class="space-y-3">
                                  <div>
                                      <button type="submit" class="flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-gray-600 transition duration-500 ease-in-out transform bg-gray-200 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:text-white">INGRESAR</button>
                                  </div>
                                  <div>
                                      <button type="submit" class="flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-gray-600 transition duration-500 ease-in-out transform bg-gray-200 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:text-white">INGRESAR COMO INVITADO</button>
                                  </div>
                                  <div>
                                      <button type="submit" class="flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-gray-600 transition duration-500 ease-in-out transform bg-gray-200 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:text-white">REGISTRATE</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              </div>
        </div>
    </div>
  </section>
