<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    
</head>
<body class="bg-fondo1 bg-cover bg-no-repeat bg-fixed flex h-screen justify-center items-center m-0 lg:h-full">
    <div class="flex h-full w-[96%] pt-10 justify-center items-center">
        <header class="">
            <button class="absolute w-14 border-[none] top-2 md:w-24">
            <img src="../assets/escudosEquipos/flecha.png" alt="Botón Flecha apuntando a la izquierda"> 
        </button>
        </header>
        <div class="bg-[white] w-95 h-[92%] top-1/3 p-2 rounded-2xl md:w-[99%] md:mt-[3rem] lg:mt-[5rem] lg:mb-[1rem] lg:p-4">
            <div class="flex justify-center mt-2 mb-[10px] md:h-[6rem]">
                <img src="../assets/recursosimg/LogoOriginal.png" class="w-28 mr-3 mt-2.5 -mb-1.5 ml-1.5 md:w-[18rem] md:h-[6rem] md:ml-0 md:mr-3 md:-mb-4 lg:w-60">
                <h1 class="text-2xl text-right font-bold mt-4 md:text-[3.5rem] md:mt-9 lg:text-[4rem]">AMIGOS DE LUIS</h1>
            </div>
            <table class="w-10/12 border-spacing-y-1.5 border-spacing-x-0.5 bg-[white] border-separate md:w-[98%] md:mx-[1rem] md:mt-[2rem] lg:mx-[2rem]">
                <thead>
                    <tr class="flex justify-end items-end py-0">
                        <th class=" text-xs text-center font-bold mr-[5px] md:text-[1.5rem] md:mr-[15px] lg:mr-[47px]">PTS</th>
                        <th class="px-1 text-xs text-center font-bold mr-[10px] md:text-[1.5rem] md:mr-[29px] lg:mr-[58px]">PJ</th>
                        <th class="text-xs text-center font-bold mr-[16px] md:text-[1.5rem] md:mr-[36px] lg:mr-[65px]">G</th>
                        <th class="pr-1 text-xs text-center font-bold mr-[15px] md:text-[1.5rem] md:mr-[35px] lg:mr-[67px]">E</th>
                        <th class="text-xs text-center font-bold mr-[9px] md:text-[1.5rem] md:mr-[40px] lg:mr-[77px]">P</th>
                    </tr>
                </thead>
                <tbody class="">
                    <!-- Fila 1 -->
                    <tr class="flex flex-row mb-1 ">
                        <td class="flex align-middle items-center justify-start bg-[#e6e6e6] gap-2 w-[14.5rem] ml-1  h-min border-r-[0.5rem] border-r-[white] border-solid md:w-[60%] md:h-[4rem] md:border-r-[1.5rem]">
                            <img src="../assets/escudosEquipos/tolima.png" alt="Logo deportes tolima" class="w-4 h-6 ml-1 mb-3 mt-1.5 md:w-10 md:h-12 md:ml-3 lg:mr-2">
                            <h6 class="md:text-[1.5rem]">DEPORTES TOLIMA</h6>
                        </td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">34</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">16</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">9</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">7</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">0</td>
                    </tr>
                    <!-- Fila 2 -->
                    <tr class="flex flex-row mb-1">
                        <td class="flex align-middle items-center justify-start bg-[#e6e6e6] gap-2 w-[14.5rem] ml-1  h-min border-r-[0.5rem] border-r-[white] border-solid md:w-[60%] md:h-[4rem] md:border-r-[1.5rem]">
                            <img src="../assets/escudosEquipos/nacional.png" alt="Logo Atletico nacional" class="w-4 h-6 ml-1 mb-3 mt-1.5 md:w-10 md:h-12 md:ml-3 lg:mr-2">
                            <h6 class="md:text-[1.5rem]">ATLETICO NACIONAL</h6>
                        </td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">34</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">16</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">9</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">7</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">0</td>
                    </tr>
                    <tr class="flex flex-row mb-1">
                        <td class="flex align-middle items-center justify-start bg-[#e6e6e6] gap-2 w-[14.5rem] ml-1  h-min border-r-[0.5rem] border-r-[white] border-solid md:w-[60%] md:h-[4rem] md:border-r-[1.5rem]">
                            <img src="../assets/escudosEquipos/santafe.png" alt="Logo Independiente santa fé" class="w-4 h-6 ml-1 mb-3 mt-1.5 md:w-10 md:h-12 md:ml-3 lg:mr-2">
                            <h6 class="md:text-[1.5rem]">INDEPENDIENTE SANTA FE</h6>
                        </td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">34</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">16</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">9</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">7</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">0</td>
                    </tr>
                    <tr class="flex flex-row mb-1">

                        <td class="flex align-middle items-center justify-start bg-[#e6e6e6] gap-2 w-[14.5rem] ml-1  h-min border-r-[0.5rem] border-r-[white] border-solid md:w-[60%] md:h-[4rem] md:border-r-[1.5rem]">
                            <img src="../assets/escudosEquipos/millonarios.png" alt="Logo Millonarios" class="w-4 h-6 ml-1 mb-3 mt-1.5 md:w-10 md:h-12 md:ml-3 lg:mr-2">
                            <h6 class="md:text-[1.5rem]">MILLONARIOS</h6>
                        </td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">34</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">16</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">9</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">7</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">0</td>
                    </tr>
                    <tr class="flex flex-row mb-1">
                        <td class="flex align-middle items-center justify-start bg-[#e6e6e6] gap-2 w-[14.5rem] ml-1  h-min border-r-[0.5rem] border-r-[white] border-solid md:w-[60%] md:h-[4rem] md:border-r-[1.5rem]">
                            <img src="../assets/escudosEquipos/junior.png" alt="Logo Junior" class="w-4 h-6 ml-1 mb-3 mt-1.5 md:w-10 md:h-12 md:ml-3 lg:mr-2">
                            <h6 class="md:text-[1.5rem]">JUNIOR</h6>
                        </td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">34</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">16</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">9</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">7</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">0</td>
                    </tr>
                    <tr class="flex flex-row mb-1">
                        <td class="flex align-middle items-center justify-start bg-[#e6e6e6] gap-2 w-[14.5rem] ml-1  h-min border-r-[0.5rem] border-r-[white] border-solid md:w-[60%] md:h-[4rem] md:border-r-[1.5rem]">
                            <img src="../assets/escudosEquipos/pereira.png" alt="Logo Deportivo Pereira" class="w-4 h-6 ml-1 mb-3 mt-1.5 md:w-10 md:h-12 md:ml-3 lg:mr-2">
                            <h6 class="md:text-[1.5rem]">PEREIRA</h6>
                        </td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">34</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">16</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">9</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">7</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">0</td>
                    </tr>
                    <tr class="flex flex-row mb-1">
                        <td class="flex align-middle items-center justify-start bg-[#e6e6e6] gap-2 w-[14.5rem] ml-1  h-min border-r-[0.5rem] border-r-[white] border-solid md:w-[60%] md:h-[4rem] md:border-r-[1.5rem]">
                            <img src="../assets/escudosEquipos/jaguares.png" alt="Logo Jaguares" class="w-4 h-6 ml-1 mb-3 mt-1.5 md:w-10 md:h-12 md:ml-3 lg:mr-2">
                            <h6 class="md:text-[1.5rem]">JAGUARES</h6>
                        </td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">34</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">16</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">9</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">7</td>
                        <td class="bg-[#e6e6e6] text-center w-[1.5rem] mr-0.5 md:w-[7%] md:text-[1.5rem]">0</td>
                    </tr>
    
                </tbody>
            </table>
    
        </div>
    </div>
</body>
</html>