<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="pt-10 container">

        <header class="">
            <button class="custom-button">
          <img src="./recursosTbClasi/retroceder.png" alt="Botón Flecha apuntando a la izquierda">
        </button>
        </header>
    
        <div class="contenedor-blanco">
            <div class="encabezado">
                <img class="logo" src="./recursosTbClasi/Logo Original.png" alt="logo de DepGirPro">
                <h1 class="titulo">AMIGOS DE LUIS</h1>
            </div>
    
            <table>
                <thead>
                    <tr>
    
                        <th></th>
                        <th>Puntos</th>
                        <th>PJ</th>
                        <th>G</th>
                        <th>E</th>
                        <th>P</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Fila 1 -->
                    <tr>
    
                        <td class="equipos"><img src="./recursosTbClasi/DEPORTES TOLIMA.png" alt="Logo deportes tolima">
                            <h6>Deportes Tolima</h6>
                        </td>
                        <td class="puntos">34</td>
                        <td class="pj">16</td>
                        <td class="g">9</td>
                        <td class="e">7</td>
                        <td class="p">0</td>
                    </tr>
                    <!-- Fila 2 -->
                    <tr>
    
                        <td class="equipos"><img src="./recursosTbClasi/atletico nacional.png" alt="Logo Atletico nacional">
                            <h6>Atlético Nacional</h6>
                        </td>
                        <td class="puntos">29</td>
                        <td class="pj">15</td>
                        <td class="g">8</td>
                        <td class="e">5</td>
                        <td class="p">2</td>
                    </tr>
                    <tr>
    
                        <td class="equipos"><img src="./recursosTbClasi/santa fe.png" alt="Logo Independiente santa fé">
                            <h6>Santa Fé</h6>
                        </td>
                        <td class="puntos">29</td>
                        <td class="pj">16</td>
                        <td class="g">7</td>
                        <td class="e">8</td>
                        <td class="p">1</td>
                    </tr>
                    <tr>
    
                        <td class="equipos"><img src="./recursosTbClasi/Millonarios.png" alt="Logo Millonarios">
                            <h6>Millonarios</h6>
                        </td>
                        <td class="puntos">27</td>
                        <td class="pj">16</td>
                        <td class="g">8</td>
                        <td class="e">3</td>
                        <td class="p">5</td>
                    </tr>
                    <tr>
                        <td class="equipos"><img src="./recursosTbClasi/junior.png" alt="Logo Junior">
                            <h6>Junior</h6>
                        </td>
                        <td class="puntos">25</td>
                        <td class="pj">16</td>
                        <td class="g">7</td>
                        <td class="e">4</td>
                        <td class="p">5</td>
                    </tr>
                    <tr>
                        <td class="equipos"><img src="./recursosTbClasi/alianza petrolera.png" alt="Logo Alianza petrolera">
                            <h6>Alianza Petrolera</h6>
                        </td>
                        <td class="puntos">25</td>
                        <td class="pj">16</td>
                        <td class="g">7</td>
                        <td class="e">4</td>
                        <td class="p">5</td>
                    </tr>
                    <tr>
                        <td class="equipos"><img src="./recursosTbClasi/Jaguares_F.C.png" alt="Logo Jaguares">
                            <h6>Jaguares</h6>
                        </td>
                        <td class="puntos">23</td>
                        <td class="pj">16</td>
                        <td class="g">6</td>
                        <td class="e">5</td>
                        <td class="p">5</td>
                    </tr>
    
                </tbody>
            </table>
    
        </div>
    </div>
</body>
</html>