<div class="versus-container">
    <div class="banner-left">
        <div class="equipo">
            <img class="logo-equipo" src="../assets/Imagenes/Escudos/{{escudoTeam1}}" alt="Logo de equipo">
            <span>{{team1}}</span>
        </div>
    </div>
    <div class="versus">
        <span class="versus-text">VS</span>
    </div>
    <div class="banner-right">
        <div class="equipo">
            <span>{{team2}}</span>
            <img class="logo-equipo" src="../assets/Imagenes/Escudos/{{escudoTeam2}}" alt="Logo de equipo">
        </div>
    </div>
</div>
