<!DOCTYPE html>
<html lang="es" class="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="pt-10">

            <div>
                <header class=" container flex justify-center">
                    <div class="">
                            <img src="../assets/recursosimg/LogoOriginal.png" alt="Logo DepGirPro APP" class="w-1/4 h-full">
                    </div>
                    <div>
                        <img src="../assets/recursosimg/config.svg"  alt="logo de una rueda dentada" class="w-1/2 h-full">
                    </div>
        
                </header>
            </div>
            <div>
                <main class="pt-16 px-2">
                    <section>
                        <div class="text-center text-white text-5xl">
                            <h1>INICIO</h1>
                        </div>
        
                        <div class="grid gap-2 relative grid-cols-3">
                            <div class="flex flex-col items-center">
                                <button class="my-2 w-full relative h-44 bg-slate-900 border-none text-white">
                                    <div class="absolute top-2 left-1 text-3xl">MI PERFIL</div>
                                    <div class="flex justify-end mt-7 mr-2">
                                      <img src="../assets/recursosimg/user.png" alt="Logo de usuario" class="w-1/5 h-full">
                                    </div>
                                  </button>
                            </div>
        
                            <div class="flex flex-col items-center">
                                <button class="my-2 w-full relative h-44 bg-slate-900 border-none text-white">
                                    <div class="absolute top-2 left-1 text-3xl">TORNEOS</div>
                                    <div class="flex justify-end mt-7 mr-2">
                                      <img src="../assets/recursosimg/trofeo.png" alt="Trofeo de fútbol" class="w-1/6 h-full">
                                    </div>
                                  </button>
                            </div>
        
                            <div class="flex flex-col items-center">
                                <button class="my-2 w-full relative h-44 bg-slate-900 border-none text-white">
                                    <div class="absolute top-2 left-1 text-3xl">CRONOGRAMA</div>
                                    <div class="flex justify-end mt-7 mr-2">
                                      <img src="../assets/recursosimg/cronograma.png" alt="Calendario" class="w-1/5 h-full">
                                    </div>
                                  </button>
                            </div>
        
                            <div class="flex flex-col items-center">
                                <button class="my-2 w-full relative h-44 bg-slate-900 border-none text-white">
                                    <div class="absolute top-2 left-1 text-3xl">FICHAJES</div>
                                    <div class="flex justify-end mt-7 mr-2">
                                      <img src="../assets/recursosimg/botas.png" alt="Botas de fútbol" class="w-1/5 h-full">
                                    </div>
                                  </button>
                            </div>
        
                            <div class="flex flex-col items-center">
                                <button class="my-2 w-full relative h-44 bg-slate-900 border-none text-white">
                                    <div class="absolute top-2 left-1 text-3xl">EQUIPOS</div>
                                    <div class="flex justify-end mt-7 mr-2">
                                      <img src="../assets/recursosimg/balon.png" alt="Balon de fútbol" class="w-1/5 h-full">
                                    </div>
                                  </button>
                            </div>
        
                            <div class="flex flex-col items-center">
                                <button class="my-2 w-full relative h-44 bg-slate-900 border-none text-white">
                                    <div class="absolute top-2 left-1 text-3xl">VACIO</div>
                                    
                                  </button>
                            </div>
                        </div>
        
                    </section>
        
                </main>
            </div>
        
        
            <footer class="text-center">
                <div class="w-full">
                    <img src="../assets/recursosimg/Tlg2.png" alt="Logo de Technology Leaders Group" class="inline-block align-middle w-1/5 my-3 mx-auto">
                </div>
        
        
        
            </footer>
        </div>
    
    
    
    
    
    </body>
    
    </html>
