body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

body {
    background-image: url('Fondo Azul y Amarillo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}






@media (max-width: 768px) {

    body {
        background-image: url('Fondo Azul y Amarillo.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        margin: 0;
    }
}