<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="pt-10">

            <div class="header">
                <header class="flex justify-evenly">
                    <div>
                        <h1 class="logo principal"><img src="./recursosInicio/Logo Original.png Original.png" alt="Logo DepGirPro APP"></h1>
                    </div>
                    <div>
                        <img src="./recursosInicio/config.svg"  alt="logo de una rueda dentada">
                    </div>
        
                </header>
            </div>
            <div>
                <main>
                    <section>
                        <div class="titulo">
                            <h1 class="inicio">INICIO</h1>
                        </div>
        
                        <div class="button-container">
                            <div class="button-column">
                                <button class="button">
                                    <div class="button-title">MI PERFIL</div>
                                    <div class="button-image">
                                      <img src="./recursosInicio/user.png" alt="Logo de usuario">
                                    </div>
                                  </button>
                            </div>
        
                            <div class="button-column">
                                <button class="button">
                                    <div class="button-title">TORNEOS</div>
                                    <div class="button-image">
                                      <img src="./recursosInicio/trofeo.png" alt="Trofeo de fútbol">
                                    </div>
                                  </button>
                            </div>
        
                            <div class="button-column">
                                <button class="button">
                                    <div class="button-title">CRONOGRAMA</div>
                                    <div class="button-image">
                                      <img src="./recursosInicio/cronograma.png" alt="Calendario">
                                    </div>
                                  </button>
                            </div>
        
                            <div class="button-column">
                                <button class="button">
                                    <div class="button-title">FICHAJES</div>
                                    <div class="button-image">
                                      <img src="./recursosInicio/botas.png" alt="Botas de fútbol">
                                    </div>
                                  </button>
                            </div>
        
                            <div class="button-column">
                                <button class="button">
                                    <div class="button-title">EQUIPOS</div>
                                    <div class="button-image">
                                      <img src="./recursosInicio/balon.png" alt="Balon de fútbol">
                                    </div>
                                  </button>
                            </div>
        
                            <div class="button-column">
                                <button class="button">
                                    <div class="button-title">VACIO</div>
                                    
                                  </button>
                            </div>
                        </div>
        
                    </section>
        
                </main>
            </div>
        
        
            <footer>
                <div class="tlg">
                    <img src="./recursosInicio/Tlg2.png" alt="Logo de Technology Leaders Group">
                </div>
        
        
        
            </footer>
        </div>
    
    
    
    
    
    </body>
    
    </html>
