<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
        
    <div class="header">
        <header class="pt-10">
            <div class="ps-5">
                <h1 class="logo principal"><img src="./RecursosImgTorneo/Logo Blanco.png" alt="logo DepGirPro APP"></h1>
            </div>
            
            
        </header>
    </div>
    <div>
        <main >
            <section>
                <div class="titulo">
                    <h1 class="inicio">TORNEOS</h1>
                </div>

                <div class="button-container">
                  <div class="button-column">
                    <button class="button">
                      <div class="button-title">CREAR TORNEO</div>
                      <div class="button-image">
                        <img src="./RecursosImgTorneo/añadir.png" alt="Simbolo de agregación o adición">
                      </div>
                    </button>
                  </div>
                
                  <div class="button-column">
                    <button class="button">
                      <div class="button-title">MIS TORNEOS</div>
                      <div class="button-image">
                        <img src="./RecursosImgTorneo/trofeo.png" alt="Trofeo de fútbol">
                      </div>
                    </button>
                  </div>
                
                  <div class="button-column">
                    <button class="button">
                      <div class="button-title-historial">HISTORIAL DE TORNEOS</div>
                      <div class="button-image">
                        <img src="./RecursosImgTorneo/historial.png" alt="reloj">
                      </div>
                    </button>
                  </div>

                </div>
                <div class="button-regresar">
                  <button class="go-back">
                    <div class="regresar-titulo">VOLVER</div>
                  </button>

                </div>
                  
            </section>

        </main>
    </div>
    

    <footer>
      <div class="tlg">
        <img src="./RecursosImgTorneo/Tlg2.png" alt="logo de Technology Leaders Group">
      </div>
        
      
        
    </footer>
    

    

    
</body>
</html>
