<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
        
    <div class="header">
        <header class="pt-10">
            <div class="ps-5">
                <h1 class="logo principal"><img src="../assets/recursosimg/LogoGrisOriginal.png" alt="logo DepGirPro APP" class="w-1/4 h-full"></h1>
            </div>
            
            
        </header>
    </div>
    <div>
        <main class="pt-24 pl-3 pr-3">
            <section>
                <div class="">
                    <h1 class="text-center text-white text-5xl">TORNEOS</h1>
                </div>

                <div class="grid gap-2 relative grid-cols-3">
                  <div class="flex flex-col items-center">
                    <button class="my-2 w-full relative h-44 bg-slate-900 border-none text-white">
                      <div class="absolute top-2 left-1 text-3xl">CREAR TORNEO</div>
                      <div class="flex justify-end mt-7 mr-2">
                        <img src="../assets/recursosimg/añadir.png" alt="Simbolo de agregación o adición" class="w-1/5 h-full">
                      </div>
                    </button>
                  </div>
                
                  <div class="flex flex-col items-center">
                    <button class="my-2 w-full relative h-44 bg-slate-900 border-none text-white">
                      <div class="absolute top-2 left-1 text-3xl">MIS TORNEOS</div>
                      <div class="flex justify-end mt-7 mr-2">
                        <img src="../assets/recursosimg/trofeo.png" alt="Trofeo de fútbol" class="w-1/5 h-full">
                      </div>
                    </button>
                  </div>
                
                  <div class="flex flex-col items-center">
                    <button class="my-2 w-full relative h-44 bg-slate-900 border-none text-white">
                      <div class="absolute top-1 left-1 text-3xl">HISTORIAL DE TORNEOS</div>
                      <div class="flex justify-end mt-7 mr-2">
                        <img src="../assets/recursosimg/historial.png" alt="reloj" class="w-1/5 h-full">
                      </div>
                    </button>
                  </div>

                </div>
                <div class="pt-9 pb-10 w-full text-center">
                  <button class="relative w-52 h-20 m-0 border-none rounded-lg text-white bg-slate-900">
                    <div class="relative text-center text-2xl">VOLVER</div>
                  </button>

                </div>
                  
            </section>

        </main>
    </div>
    

    <footer class="text-center">
      <div class="w-full">
          <img src="../assets/recursosimg/Tlg2.png" alt="Logo de Technology Leaders Group" class="inline-block align-middle w-1/5 my-3 mx-auto">
      </div>
        
      
        
    </footer>
    

    

    
</body>
</html>
